langchain
streamlit
umap
umap-learn
numpy
pandas
langchain-huggingface
scikit-learn
langchain-together
python-dotenv
langchain-pinecone
pymupdf
langchain-community
requests
langchain-groq
langchain-chroma
protobuf==3.20.*
pysqlite3-binary
sqlite3 >= 3.35.0
